/*
beige: #EEE1CC
dark blue: #234C6C
lt blue: #84CBDD
med blue: #5D8AA8
 */

/*body, html {height:100%;}*/
/*body {overflow: hidden; }*/

.modal {
    display: initial;
    /*position: absolute;*/
    z-index: 5000;
}

.form-control {
    width: 70%;
    margin: 3% auto;
}

#registration {
    display: none;
}

.fade {
    opacity: 0.2!important;
    /*display: none;*/
    pointer-events: none;
}

body {
    background: #E6F7FF;
    color: #5D8AA8;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    color: #234C6C;
}

#logout {
    position: absolute;
    top: 5px;
    right: 5px;
}

#logo {
    width: 12rem;
    margin: 0 auto;
    display: block;;
}

#logo-caption {
    text-align: center;
    color: #5D8AA8;
    font-variant-caps: all-small-caps;
    margin-top: -10px;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#google-search {
    text-align: center;
    margin: 3% auto;
}

#google-search input[type="text"] {
    background: #fff;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 35%;
    max-width: 584px;
}

input[type="submit"], .btn {
    font-size: 12px;
    font-weight: 600;
    background: #5D8AA8;
    border-color: #5D8AA8;
    color: #fff;
}

#google-search input[type="submit"] {
    font-size: 1em;
    width: 120px;
}

#google-search input[type="text"], #google-search input[type="submit"] {
    padding:10px;
    border-radius: 2px;
    height: 8%;
    min-height: 40px;
    max-height: 50px;
}

#back {
    position: absolute;
    left: 2%;
    top: 20px;
    z-index: 1000;
}

#back img {
    width: 60px;
}

#clinic, #apps, #call-centres {
    position: absolute;
    width: 25%;
    height: 30%;
    /*background: #84CBDD;*/
}

.building {
    font-size: 1.5em;
    text-align: center;
    font-variant: all-small-caps;
}

.building:hover img {
    opacity: 0.5;
}

.building:hover {
    font-weight: bold;
}

#apps { /* websites in html */
    left: 39%;
    /*bottom: 26%;*/
    top: 50px;
}

#apps img {
    position: relative;
    right: 5%;
}

#call-centres {
    left: 21%;
    bottom: 10px;
}

#call-centres img {
    position: relative;
    right: 10%;
    width: 60%;
}

#clinic {
    top: 20px;
    left: -1%;
}

#clinic img {
    position: relative;
    left: -3%;
}

#call-centres img {
    position: relative;
    right: 10%;
}

#settings, #about {
    position: absolute;
    width: 20%;
    height: 20%;
}

#settings {
    bottom: 15px;
    right: 15%;
}

#settings img {
    position: relative;
    right: 5%;
}

#about {
    top: 54px;
    right: -2%;
    bottom: 0px;
    /*right: 20%;*/
}

#about img {
    position: relative;
    right: 15%;
}

#avatar-self {
    height: 150px;
    width: 150px;
    position: absolute;
}

#avatar-others {
    color: gray;
}

.avatar-other {
    /*color: blue;*/
    height: 100px;
    width: 100px;
    z-index: -5000;
}

#canvas {
    position: relative;
    margin: auto;
    /*width: 1200px;*/
    /*height: 600px;*/
}

.phone-icon, .website{
    width: 100px;
    height: 100px;
}