/*
beige: #EEE1CC
dark blue: #234C6C
lt blue: #84CBDD
med blue: #398DA7
 */

body {
    background: #E6F7FF;
    color: #D0E2F3;
    font-family: font-family: 'Open Sans', sans-serif;;
}

#logo {
    width: 8rem;
    margin: 0 auto;
    display: block;;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#google-search {
    text-align: center;
    margin: 3% auto;
}

#google-search input[type="text"] {
    background: #fff;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 30%;
    max-width: 584px;
}

#google-search input[type="submit"] {
    font-size: 12px;
    font-weight: 600;
    background: #5D8AA8;
    border-color: #5D8AA8;
    color: #fff;
}

#google-search input[type="text"], #google-search input[type="submit"] {
    padding:10px;
    border-radius: 2px;
    height: 8%;
}

#clinic, #apps, #call-centers {
    position: absolute;
    width: 25%;
    height: 30%;
    background: #84CBDD;
}

.building {
    font-size: 2em;
    text-align: center;
}

#apps {
    left: 75%;
    bottom: 30%;
}

#call-centers {
    left: 35%;
}

#clinic {
    bottom: 25%;
}

#avatar-self {
    height: 10px;
    width: 10px;
    background-color: gold;
    border-radius: 50%;
}

#avatar-others {
    color: gray;
}

.avatar-other {
    /*color: blue;*/
    height: 10px;
    width: 10px;
    background-color: darkred;
    border-radius: 50%;
}