{% load static %}

<html>

<head>
    <title>Lumohacks 2018 project - About</title>
    <!-- bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
</head>
<body>

     <div id="wrapper" class="container">

        <h1><img src="{% static 'Assets/Title.png' %}" alt="Mind Path" id="logo"></h1>
        <p id="logo-caption">Exploring your mental health.</p>
        <!-- google search bar -->
        <form method="POST" action="search" id="google-search">{% csrf_token %}
            <input type="text" name="handle" value="" />
            <input type="submit" value="Google Search" />
        </form>

         <h2>About MindPath</h2>

         <a href="../" id="back"><img src="{% static 'Assets/arrow.png' %}" alt="Back button"></a>

         <p class="centerText"> Mind Path provides resources from various sources, including call centres, web apps, and clinics near you, all in one place, while making it fun and interactive!</p>

         <p class="centerText">Please save the index page as your homepage!</p>
    </div>
</body>
</html>