{% load static %}

<html>

<head>
    <title>Lumohacks 2018 project - Call Centres</title>
    <!-- bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div id="wrapper">

        <h1><img src="{% static 'Assets/Title.png' %}" alt="Mind Path" id="logo"></h1>
        <p id="logo-caption">Exploring your mental health.</p>

        <!-- google search bar -->
        <form method="POST" action="search" id="google-search">{% csrf_token %}
            <input type="text" name="handle" value="" />
            <input type="submit" value="Google Search" />
        </form>

        <h2>Call Centers</h2>

        <a href="index" id="back"><img src="{% static 'Assets/arrow.png' %}" alt="Back button" ></a>

        <div id="canvas">

        {% for key, centre in centres_dict.items %}
        <div class="resource" style="display: inline-block; width: 400px; height: 300px;">
            <h4>{{centre.name}}</h4>
            <img src="{% static 'Assets/phone-icon.png' %}" class="phone-icon">
            <p class="resource-details" style="visibility: hidden;">
                City: {{centre.city}}<br>
                Phone number: {{centre.phone_no}}<br>
            </p>
        </div>

        {% endfor %}

        </div>

            <div class="resource" id="resource1">
                <h4>Call center 1</h4>
                <img src="{% static 'Assets/phone-icon.png' %}" class="phone-icon">
            </div>
            <div class="resource" id="resource2">
                <h4>Call center 2</h4>
                <img src="{% static 'Assets/phone-icon.png' %}" class="phone-icon">
            </div>
            <div class="resource" id="resource3">
                <h4>Call center 3</h4>
                <img src="{% static 'Assets/phone-icon.png' %}" class="phone-icon">
            </div>
            <div class="resource" id="resource4">
                <h4>Call center 4</h4>
                <img src="{% static 'Assets/phone-icon.png' %}" class="phone-icon">
            </div>

            <div id="info">
                <h1> Check here for information!</h1>
                <h4> Sample intro:</h4>
                    <p> stuff</p>
                    <p>778 999 9999</p>
            </div>

        <!-- avatars -->
        <div id="avatar-self" style="left: 0; top: 0">
            <img src="{% static 'Assets/grayppl.svg' %}">
        </div>

    </div> <!--end of wrapper -->
</body>
</html>