{% load static %}

<html>

<head>
    <title>Lumohacks 2018 project - Clinics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="googleMap" style="width:100%;height:400px;"></div>

    <script src="{% static 'showClinics.js' %}"></script>
    <div>
        <div id="avatar-self">
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqQQC3gGOG8PnUPLusjzUKyWXnJ72kX-8&callback=myMap"></script>
</body>
</html>