{% load static %}

<html>

<head>
    <title>Lumohacks 2018 project</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</head>

<body>
    <div id ="wrapper">
        <div id="clinic">
            Clinics near me
        </div>
        <div id="apps">
            Apps
        </div>
        <div id="call-centers">
            Call Centers
        </div>
        <div id="avatar-self">
            My Avatar
        </div>
        <div class="avatar-others">
            others
        </div>
    </div> <!--end of wrapper -->
</body>
</html>