{% load static %}

<html>

<head>
    <title>Lumohacks 2018 project</title>

    <!-- bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</head>

<body onload="gameLoop()" onkeydown="" onkeyup="">
    <div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <h1><img src="{% static 'Assets/Title.png' %}" alt="Mind Path" id="logo"></h1>
        <p id="logo-caption">Exploring your mental health.</p>

        <!-- google search bar -->
        <form method="POST" action="search" id="google-search">{% csrf_token %}
            <input type="text" name="handle" value="" />
            <input type="submit" value="Google Search" />
        </form>

        <!--Sign in and registration-->
        {% if not request.user.is_authenticated %}
    	  <div class="modal-dialog  modal-dialog-centered">
				<div class="modal-content loginmodal-container">
                    <form method="POST" action="authenticate_user" id="login">{% csrf_token %}
                        <input type="text" name="username" value=""  placeholder="Username"/> <br>
                        <input type="password" name="password" value=""  placeholder="Password"/>
                        <input type="submit" value="Login"/>
                    </form>

                    <form method="POST" action="register_user" id="registration">{% csrf_token %}
                        <input type="text" name="username" placeholder="Username" value=""/><br>
                        <input type="text" name="email" placeholder="Email" value=""/><br>
                        <input type="password" name="password"  placeholder="Password" value=""/><br>
                        <input type="text" name="password_confirm"  placeholder="Password" value=""/>
                        <input type="submit" value="Register"/>
                    </form>
                </div>
          </div>
        <div class="fade">
        {% endif %}

        <!--Trigger messages (either error or succesful registration)-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
            {% endfor %}
        </ul>
        {% endif %}

        <!--Logout button-->
        {% if request.user.is_authenticated %}
            <a href="logout_user" id="logout"><button class="btn">LOG OUT</button></a>
        {% endif %}

        <div id ="wrapper">

        <div id="canvas">
            <!-- buildings -->

            <a href="clinics">
                <div id="clinic">
                  <h2 class="building">Clinics
                      <img src="{% static 'Assets/clinic.svg' %}" alt="Clinic">
                  </h2>
                </div>
            </a>

            <a href="websites">
                <div id="apps">
                    <h2 class="building">Websites
                        <img src="{% static 'Assets/apps.svg' %}" alt="Apps">
                    </h2>
                </div>
            </a>

            <a href="call_centres">
                <div id="call-centres">
                    <h2 class="building">Call Centres <br/>
                        <img src="{% static 'Assets/callcentre.svg' %}" alt="Call Centre">
                    </h2>
                </div>
            </a>

            <a href="about">
                <div id="about">
                    <h2 class="building">About
                        <img src="{% static 'Assets/about.svg' %}" alt="About">
                    </h2>
                </div>
            </a>

            <a href="settings">
                <div id="settings">
                    <h2 class="building">Settings
                        <img src="{% static 'Assets/settings.svg' %}" alt="Settings">
                    </h2>
                </div>
            </a>

            <!-- avatars -->
            <div id="avatar-self" style="left: 300px; top: 300px">
                <img src="{% static 'Assets/grayppl.svg' %}">
            </div>

            <div id="avatar-others">
            </div>
        </div>
    </div>

    </div> <!--end of wrapper -->
</body>
</html>