{% load static %}

<html>

<head>
    <title>Lumohacks 2018 project</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</head>

<body>
    <div id ="wrapper">
        <h1><img src="{% static 'Assets/Title.png' %}" alt="Mind Path" id="logo"></h1>
        <!-- google search bar -->
        <form method="POST" action="search" id="google-search">{% csrf_token %}
            <input type="text" name="handle" value="" />
            <input type="submit" value="Google Search" />
        </form>

        <!--Sign in and registration-->
        {% if not request.user.is_authenticated %}
            <form method="POST" action="authenticate_user" id="username">{% csrf_token %}
                <input type="text" name="username" value=""/>
                <input type="text" name="password" value=""/>
                <input type="submit" value="Login"/>
            </form>
        {% endif %}

        <!--Check if username/password is valid-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
            {% endfor %}
        </ul>
        {% endif %}

        <!--Logout button-->
        {% if request.user.is_authenticated %}
            <a href="logout_user">LOGOUT</a>
        {% endif %}

        <!-- buildings -->
        <div id="clinic">
            <h2 class="building">Clinics</h2>
        </div>
        <div id="apps">
            <h2 class="building">Apps</h2>
        </div>
        <div id="call-centers">
            <h2 class="building">Call Centers</h2>
        </div>
        <div id="apps">
            <h2 class="building">Apps</h2>
        </div>
        <div id="call-centers">
            <h2 class="building">Call Centres</h2>
        </div>

        <!-- avatars -->
        <div id="avatar-self">
        </div>
        <div id="avatar-others">
        </div>
    </div> <!--end of wrapper -->
    </canvas>
</body>
</html>