{% load static %}

<html>

<head>
    <title>Lumohacks 2018 project - Websites</title>
    <!-- bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div id="wrapper">
        <h1><img src="{% static 'Assets/Title.png' %}" alt="Mind Path" id="logo"></h1>
        <p id="logo-caption">Exploring your mental health.</p>
        <!-- google search bar -->
        <form method="POST" action="search" id="google-search">{% csrf_token %}
            <input type="text" name="handle" value="" />
            <input type="submit" value="Google Search" />
        </form>

        <h2>Apps</h2>

        <a href="../" id="back"><img src="{% static 'Assets/arrow.png' %}" alt="Back button"></a>

        {% for key, website in websites_dict.items %}
        <div class="resource">
            <h4>{{website.name}}</h4>
            <a href={{website.link}}>
                <img src="{% static 'Assets/website.png' %}" class="website">
            </a>
        </div>
        {% endfor %}

        <!-- avatars -->
        <div id="avatar-self" style="left: 0; top: 0">
            <img src="{% static 'Assets/grayppl.svg' %}">
        </div>

    </div>
</body>
</html>